<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">Lista de Formulários
                <a class="float-right Hand" routerLink='/cadastro'><i class="fas fa-plus"></i></a>
            </div>
            <div class="card-boby">

                <p-table [value]="Lista" [responsive]="true" [autoLayout]="true" [paginator]="true" [rows]="10">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Formulário</th>
                            <th>Ação</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td>{{item.Nome}}</td>
                            <td>
                                <a [routerLink]="['/cadastro', item.Id]"><i class="fas fa-edit"></i></a>
                                <a href="javascript:void(0)" (click)="CriaForm(item.Id)" class="Hand"
                                    style="margin-left: 15px"><i class="far fa-caret-square-right"></i></a>
                                <a [routerLink]="['/lista100', item.Id]" style="margin-left: 15px"><i
                                        class="fas fa-bars"></i></a>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
    </div>
    <div class="col-md-9" *ngIf="ShowForm">
        <h3 class="text-center">{{Formulario.Nome}}</h3>
        <form [formGroup]="FrmGroup" (ngSubmit)="GravaForm()">
            <div *ngFor="let campo of Formulario.Campos" class="form-group">
                <label>
                    <small style="color: red" [hidden]="FrmGroup.controls[campo.NomeUtil].valid">
                        (Campo Obrigatório)&nbsp;
                    </small>
                    {{campo.Nome}}
                </label>
                <div [ngSwitch]="campo.Tipo">
                    <div *ngSwitchCase="'subjetivo'">
                        <input type="{{campo.TipoDado}}" formControlName="{{campo.NomeUtil}}" class="form-control"
                            maxlength="{{campo.Tamanho}}" [required]="campo.Obrigatorio">

                    </div>
                    <div *ngSwitchCase="'objetivo'">
                        <select formControlName="{{campo.NomeUtil}}" class="form-control"
                            [required]="campo.Obrigatorio">
                            <option *ngFor="let opc of campo.Opcoes" [value]="opc">{{opc}}</option>
                        </select>
                    </div>
                    <div *ngSwitchCase="'multipla'">
                        <select formControlName="{{campo.NomeUtil}}" class="form-control" multiple size="4"
                            [required]="campo.Obrigatorio">
                            <option *ngFor="let opc of campo.Opcoes" [value]="opc">{{opc}}</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="form-group text-right">
                <button type="button" class="btn btn-dark" style="margin-right: 15px"> <i class="fas fa-ban"></i>
                </button>
                <button type="submit" class="btn btn-primary"> <i class="fas fa-save"></i> </button>
            </div>
        </form>
    </div>
</div>
<div class="row" style="margin-top: 15px;">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Formulário</th>
                <th>Hora</th>
                <th>Conteudo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Execucoes">
                <td>{{item.Formulario.Nome}}</td>
                <td>{{item.Hora| date:'hh:mm'}}</td>
                <td>{{item.Preenchimento}}</td>

            </tr>
        </tbody>
    </table>
</div>